*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
/* USE FOR ALL CLASSES */
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* BODY */
body{ 
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
}

/* Шапка сайту */
.header{
    border-bottom: 0.1px solid #919090;
    display: flex;
    height: 80px;
    background-color:#FFFFFF;
}
.logo{
    margin: 25px 95px 25px 215px;
}
.logo-link{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: black;
}
.colour-web{
    color: #2196F3;
}
.top-menu{
    margin: 32px 331px 32px 94px;
}
.navigation li{
    display: inline;
    text-align: center;
}
.navigation a{ 
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    display: inline-block;
    width: 100px;
}
.navigation a:hover {
    border-radius: 6px 5px;
    background-color: #c9cab3;
}
.style-nav {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.color-studio{
    color: #2196F3;
}
.mail-tel{
    margin: 32px 215px 32px 0;
}
.contacts-nav li{
    display: inline;
    text-align: center;
}
.contacts-nav a{
    display: inline-block;
    width: 150px;
}

.text-mail{
    padding-right: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;

}
.text-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}


/* Частина сайту з темним фоном */

.hero{
    height: 600px;
    background: #2F303A;
}

.h1{
    margin: auto;
    padding-top: 200px;
    padding-bottom: 30px;
    width: 696px; 
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;    
}
.knopka{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: auto;
}
.knopka{
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
button:hover{
    cursor: pointer;
}
/* Частина з блочним текстом */

.special-text {
    width: 1170px;
    margin: 94px auto;

}
.inform-text li{
    display: inline-block;
    width: 270px;
}

.h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    padding: 10px;
}
.grey-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    padding: 10px;
}

/* Чим ми займаємося (картинки 370х294) */

.what-we-do{
    width: 1170px;
    margin: 0 auto;
}
.list_img li{
    display: inline-block;
    padding: 25px 15px 94px 0;  
}
.h2-we-do{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-bottom: 25px;
}

/* Наша команда */

.team{
    height: 700px;
    background-color: #F5F4FA;
    margin: 0 auto;
}

.h2_our_team{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 94px;
    padding-bottom: 25px;
}
.list_team{
    width: 1170px;
    margin: 0 auto;
}
.list_team li{
    display: inline-block;
    width: 270px;
    height: 370px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 25px 15px 94px 0;
}
.h3-team{
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.specialty{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Футер + Лого */

footer{
    height: 252px;
    background: #2F303A; 
}
.logo-footer{
    padding: 60px 0 10px 215px;
}
.studio-footer {
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-nav{
    margin: 10px 0 60px 215px;
}

.address{
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.mail-footer{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.tel-footer{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}



